*{padding: 0;
margin: 0}
html,body{
	height: 100%;
	background-image: url('src/gal.gif');

	;
}

.Menu a{text-decoration: none;
	text-align: center;
	
	font-size: 150%;
	border: 2px outset black;
	color: black;
}
.Menu {
	max-width: 800px;
	min-width: 750px;
	border-radius: 3px;
	border: 3px outset black;
	margin: 10px auto;
	text-align: center;
	padding: 10px 90px;
	width: 80%;
	background: salmon;
}
.Menu span{text-align: left;
color: black;
border-block: 5px black solid;
margin: 2px;
font-size: 130%;
}
.Foto {
	align-items: center;
	width: 100px;
	padding: 0px;
	
}
.Foto img{
	width: 100px;
	border: 3px salmon solid;
	
	padding: 50px auto;
}
.Galeria{
	align-items: center;
	width: 80%;
}
.Galeria > a > img{
	width: 100px;
	padding: 5px;
	margin: 10 auto;

}
object{
	width: 75%;
}

.Home{
	position: inside;
	height: 5000px;
	
	max-width: 800px;
	min-width: 700px;
	width: 80%;
	padding: 50px;
	margin: 10px auto;
	background-color: darkorchid;
}


